@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,400i,700");
.form-view-vlue, .field-tag, textarea,
input, .main-menu-wrap .main-menu .main-menu-title, .main-menu-wrap .main-menu .main-menu-title.filter-input input, .form-view-tag, .main-menu-wrap .main-menu .main-menu-item,
.main-menu-wrap .main-menu .main-menu-subitem, .breadcrumb .item, .main-button, .form-view-labl, .field-labl, * {
  font-family: 'Bai Jamjuree', sans-serif; }

.board-cont, .form-body, .form-cont, .main-menu-wrap .main-menu, .parent-body-contnt {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.form-view-vlue, .field-tag, textarea,
input, .main-menu-wrap .main-menu .main-menu-title, .main-menu-wrap .main-menu .main-menu-title.filter-input input {
  font-size: 17px;
  line-height: 21px; }

.form-view-tag, .main-menu-wrap .main-menu .main-menu-item,
.main-menu-wrap .main-menu .main-menu-subitem {
  font-size: 15px;
  line-height: 19px; }

.breadcrumb .item, .main-button, .form-view-labl, .field-labl {
  font-size: 13px;
  line-height: 17px; }

.max-width {
  width: 100%;
  max-width: 1260px; }

.board-cont {
  width: 100%;
  height: calc(100% - 75px);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 75px; }
  @media (min-width: 720px) {
    .board-cont {
      height: calc(100% - 145px);
      top: 145px; } }

.board-body {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0px;
  flex-wrap: wrap; }

.breadcrumb {
  background-color: #FAFAFA;
  width: calc(100% - 60px);
  height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  display: none; }
  @media (min-width: 720px) {
    .breadcrumb {
      display: flex; } }
  .breadcrumb .bread-cont {
    width: 100%;
    max-width: 1024px;
    overflow-x: hidden; }
  .breadcrumb .items {
    display: inline-flex;
    white-space: nowrap; }
  .breadcrumb .item {
    float: left;
    font-weight: bold;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 6px;
    margin-bottom: 6px;
    text-transform: uppercase; }
    .breadcrumb .item.dpto {
      display: none;
      border-left: 1px solid #EAEAEA;
      border-right: 1px solid #EAEAEA;
      border-top: 1px solid #EAEAEA;
      border-bottom: 1px solid #EAEAEA; }
      .breadcrumb .item.dpto a {
        color: #000000; }
    .breadcrumb .item.tag {
      border-left: 1px solid #EAEAEA;
      border-right: 1px solid #EAEAEA;
      border-top: 1px solid #EAEAEA;
      border-bottom: 1px solid #EAEAEA; }
    .breadcrumb .item.tag.selected {
      background-color: #999999; }
      .breadcrumb .item.tag.selected a {
        color: #FFFFFF; }
    .breadcrumb .item.selected {
      display: inline-flex;
      background-color: #333333; }
      .breadcrumb .item.selected a {
        color: #FFFFFF; }
    .breadcrumb .item.current {
      display: inline-flex;
      background-color: #333333; }
      .breadcrumb .item.current a {
        color: #FFFFFF; }
    .breadcrumb .item.visible {
      display: inline-flex; }
  .breadcrumb .item-dpto-subs.selected > .item.dpto.current {
    background-color: #666666; }
  .breadcrumb .item-dpto-subs.selected,
  .breadcrumb .item-dpto-subs.current {
    display: inline-flex; }
  .breadcrumb .item-dpto-subs.current > .item.dpto {
    display: inline-flex; }
  .breadcrumb .item-right {
    width: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end; }
    .breadcrumb .item-right .item-search {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      background-color: #FFFFFF;
      border-left: 1px solid #EAEAEA;
      border-right: 1px solid #EAEAEA;
      border-top: 1px solid #EAEAEA;
      border-bottom: 1px solid #EAEAEA;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }

.main-button {
  font-weight: bold;
  height: 40px;
  min-width: 100px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px; }
  .main-button.pri {
    background-color: #39C357;
    color: #FFFFFF; }
  .main-button.sec {
    background-color: #333333;
    color: #FFFFFF; }
  .main-button.thi {
    background-color: #EAEAEA;
    color: #999999; }
  .main-button.dis {
    background-color: #D7D7D7;
    color: #FFFFFF;
    cursor: default; }

.form-wrap {
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }

.form-topb {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #FFF; }

.form-body {
  width: 100%;
  height: 100%; }

.form-body-wrap {
  height: calc(100% - 100px); }

.form-pict {
  width: 100%; }

.form-link {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  max-width: 720px; }

.form-cont {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 40px; }

.form-view-cont {
  margin-top: 0px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }

.form-view-group {
  margin-top: 40px; }

.form-view-labl {
  font-weight: bold;
  padding-bottom: 10px; }

.form-view-vlue {
  padding-bottom: 10px;
  word-break: break-all; }

.form-view-tag {
  padding-bottom: 10px;
  word-break: break-all;
  text-transform: uppercase; }

.floatter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 25px;
  right: 25px; }
  .floatter-button button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #000000; }
    .floatter-button button i {
      color: #FFFFFF;
      padding-top: 2px; }
  @media (min-width: 1280px) {
    .floatter-button {
      right: calc(calc(100% - 1160px) / 2); } }

@media (min-width: 720px) {
  .form-wrap {
    height: 100%; }
  .form-body {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }
  .form-body-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 1024px;
    padding-left: 20px;
    padding-right: 20px; }
  .form-pict {
    width: calc(100% / 2);
    margin-top: 40px; }
  .form-link {
    width: 100%; }
  .form-cont {
    width: calc(calc(100% / 2) - 100px);
    padding-left: 80px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    height: calc(100% - 40px); }
  .form-view-cont {
    width: calc(calc(100% / 2) - 80px);
    padding-left: 80px;
    margin-top: 0px; } }

.field-tag, textarea,
input {
  border-left: 1px solid #D7D7D7;
  border-right: 1px solid #D7D7D7;
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  width: calc(100% - 22px); }

.field-cont {
  margin-top: 40px;
  margin-bottom: 40px; }

.field-labl {
  font-weight: bold;
  padding-bottom: 10px; }

.field-tag {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  width: 100%; }
  .field-tag .lef {
    width: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px; }
  .field-tag .cen {
    width: calc(100% - 68px); }
    .field-tag .cen input {
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: none;
      height: 30px;
      text-transform: uppercase; }
    .field-tag .cen p {
      height: 100%;
      padding-left: 10px;
      text-transform: uppercase; }
  .field-tag .rig {
    width: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer; }
  .field-tag.item {
    background-color: #EAEAEA; }

.field-buttons button {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

.field-path {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  width: 100%; }
  .field-path .rig {
    width: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer; }

textarea {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px; }

.Grid {
  width: calc(100% - 30px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  flex-wrap: wrap; }

.main-menu-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  .main-menu-wrap .main-menu-opac {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .main-menu-wrap .main-menu {
    max-width: 300px;
    width: 90%;
    height: calc(100% - 40px);
    background-color: #FFF;
    border-right: 1px solid #990;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; }
    .main-menu-wrap .main-menu .main-menu-top {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-left: 20px;
      padding-right: 20px; }
    .main-menu-wrap .main-menu .main-menu-title {
      height: 55px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-left: 30px;
      padding-right: 30px;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .main-menu-wrap .main-menu .main-menu-title a {
        padding-bottom: 5px; }
        .main-menu-wrap .main-menu .main-menu-title a.selected {
          border-bottom: 2px solid #000; }
      .main-menu-wrap .main-menu .main-menu-title .splitBar {
        padding-bottom: 5px; }
      .main-menu-wrap .main-menu .main-menu-title.filter-input input {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-radius: 0px;
        border-bottom: 2px solid #000;
        text-transform: uppercase; }
    .main-menu-wrap .main-menu .main-menu-item,
    .main-menu-wrap .main-menu .main-menu-subitem {
      height: 50px;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      cursor: pointer; }
    .main-menu-wrap .main-menu .main-menu-item {
      font-weight: bold; }
    .main-menu-wrap .main-menu .main-menu-line {
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px; }
    .main-menu-wrap .main-menu .bullet {
      background-color: #FAFAFA;
      width: 40px;
      height: 32px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
    .main-menu-wrap .main-menu .main-menu-item.selected,
    .main-menu-wrap .main-menu .main-menu-subitem.selected {
      background-color: #CBFFD1; }
      .main-menu-wrap .main-menu .main-menu-item.selected .bullet,
      .main-menu-wrap .main-menu .main-menu-subitem.selected .bullet {
        background-color: #BBF5C1; }
    .main-menu-wrap .main-menu .main-menu-group.tags .main-menu-item {
      font-weight: normal;
      text-transform: uppercase; }
  .main-menu-wrap.right-side .main-menu {
    left: auto;
    right: 0; }

.dpto-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }
  .dpto-item.selected > .dpto-wrap {
    background-color: #EAEAEA;
    border-radius: 20px; }
  .dpto-item.visible > .dpto-subs {
    display: block; }

.dpto-subs {
  width: calc(100% - 20px);
  padding-left: 20px;
  display: none; }

.dpto-wrap {
  width: calc(100% - 10px);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer; }

.dpto-wrap-left {
  width: 24px;
  height: 20px;
  padding-right: 10px; }

.dpto-wrap-center {
  width: calc(100% - 70px);
  height: 20px; }

.dpto-wrap-right {
  height: 20px; }

.dpto-item-icon {
  text-align: center;
  margin-left: 5px; }
  .dpto-item-icon i {
    margin-left: -2px;
    margin-top: -2px; }

.dpto-newf {
  border-radius: 20px;
  background-color: #CBFFD1; }
  .dpto-newf input {
    background-color: #CBFFD1;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 16px;
    text-transform: uppercase; }

.menu-body {
  height: calc(100% - 82px); }
  .menu-body .parent-body-contnt {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 10px;
    height: calc(100% - 130px);
    width: calc(100% - 20px); }
  .menu-body .parent-body-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto; }
    .menu-body .parent-body-bottom .main-button {
      width: 100%;
      margin-bottom: 10px; }
    .menu-body .parent-body-bottom .parent-body-wrap {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between; }
      .menu-body .parent-body-bottom .parent-body-wrap .main-button {
        width: calc(50% - 5px);
        min-width: 75px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
        margin-right: 0px; }
      .menu-body .parent-body-bottom .parent-body-wrap.three .main-button {
        width: auto; }
  .menu-body .dpto-wrap-right {
    width: 24px; }
    .menu-body .dpto-wrap-right a {
      width: 100%; }
    .menu-body .dpto-wrap-right i {
      font-size: 18px;
      margin-top: 1px; }

.parent-modal-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }

.parent-modal-opac {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.parent-modal-body {
  width: calc(100% - 40px);
  height: calc(100% - 160px);
  max-height: 620px;
  border-right: 1px solid #990;
  background-color: #FFF;
  overflow-y: hidden;
  z-index: 3; }
  @media (min-width: 620px) {
    .parent-modal-body {
      max-width: 520px; } }

.parent-body-topper {
  width: calc(100% - 60px);
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }
  .parent-body-topper button {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 32px;
    min-width: 32px; }

.parent-body-contnt {
  width: calc(100% - 80px);
  height: calc(100% - 160px);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333; }

.parent-body-bottom {
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-right: 30px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .parent-body-bottom button {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }

.post-page {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0; }
  .post-page .topbar-page {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .post-page .topbar-page i {
      cursor: pointer; }
  .post-page .post-image {
    width: 100%; }
    .post-page .post-image img {
      width: 100%; }
  .post-page .post-body {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px; }
    .post-page .post-body .label-title {
      font-weight: bold;
      font-size: 12px;
      padding-bottom: 4px; }
    .post-page .post-body .label-text {
      color: #666;
      font-size: 18px;
      padding-bottom: 40px; }

.post-card {
  width: calc(calc(100% - 28px) / 3);
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 14px;
  margin-bottom: 14px;
  position: relative; }
  .post-card:nth-child(3n) {
    margin-right: 0px; }
  .post-card > a {
    width: 100%;
    height: 100%;
    float: left; }
  .post-card .card-wrap {
    margin-top: 100%; }
  .post-card .card-body {
    width: 100%;
    position: absolute;
    top: 0; }
    .post-card .card-body img {
      width: 100%; }

.topbar {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000;
  color: #FFF;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .topbar .title {
    font-weight: bold;
    color: #FFF;
    height: 24px; }
  .topbar i {
    color: #FFF; }

.topbar-cont {
  height: 60px;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.topbar-fixed {
  width: 100%;
  background-color: #FFF;
  position: fixed;
  z-index: 1;
  top: 0; }

.loader-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 0px; }

.loader08 {
  width: 20px;
  height: 20px;
  position: relative;
  animation: loader08-u94786f74 1s ease infinite;
  top: 50%;
  margin: -46px auto 0;
  margin-top: 10px;
  z-index: 2; }

@keyframes loader08-u94786f74 {
  0%, 100% {
    box-shadow: -13px 20px 0 #000, 13px 20px 0 rgba(0, 0, 0, 0.2), 13px 46px 0 rgba(0, 0, 0, 0.2), -13px 46px 0 rgba(0, 0, 0, 0.2); }
  25% {
    box-shadow: -13px 20px 0 rgba(0, 0, 0, 0.2), 13px 20px 0 #000, 13px 46px 0 rgba(0, 0, 0, 0.2), -13px 46px 0 rgba(0, 0, 0, 0.2); }
  50% {
    box-shadow: -13px 20px 0 rgba(0, 0, 0, 0.2), 13px 20px 0 rgba(0, 0, 0, 0.2), 13px 46px 0 #000, -13px 46px 0 rgba(0, 0, 0, 0.2); }
  75% {
    box-shadow: -13px 20px 0 rgba(0, 0, 0, 0.2), 13px 20px 0 rgba(0, 0, 0, 0.2), 13px 46px 0 rgba(0, 0, 0, 0.2), -13px 46px 0 #000; } }

* {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-decoration: none; }

a {
  cursor: pointer; }

html, body {
  width: 100%;
  height: 100%; }

#app {
  width: 100%;
  height: 100%; }

button {
  cursor: pointer;
  border: none;
  background: none; }

.container-all {
  width: 100%;
  height: calc(100% - 100px); }
